body {
    margin: 20px;
    margin-top: 30px;
}

.buttons {
    margin: 10px;
    border-radius: 5px;
    background-color: cornflowerblue;
    width: 150px;
}

.progress {
    margin-top: 10px;
    height: 30px;
}